<style>
  /* Modify the background color */
	.navbar .nav-item:hover .nav-link{ color: rgb(122, 20, 148)   }
  .navbar .nav-item:active .nav-link {color: blue;font-size: large;}
  .nav-item .nav-item .nav-link{align-items: right;}
  .navbar .nav-item .nav-link{color: white; }
  .navbar:active .nav-item .nav-link:active{color: blue; font-size: large;}
  .navbar .navbar-brand {margin-left: auto;}
            .navbar-nav {
            margin-left:auto;
        }
	
  .navbar-dark {
      background-color: #282a36;
      align-items: right;
  }
  /* Modify brand and text color */

  
  
</style>


<nav class="navbar navbar-expand-lg fixed-top navbar-dark  "> 
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="https://i.postimg.cc/j5ktXZFk/logo.gif" alt="" width=150" height="70" class="d-inline-block align-text-top"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resume" >Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/portfolio">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>