<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>
    <script src="/Scripts/app.js"></script>
    
    
    <p>Welcome to <%= title %> page</p>
  </body>
</html>
