<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<script src="/Scripts/app.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<body>
    <style> body{padding-top: 170px;}
    .container{background-color:transparent ;}
    i{color: black;
    padding-left: 15px;}
    i:hover {    color: #7952b3;}
    
    </style>

<div class="container px-5">
    <div class="row gx-5">
      <div class="col">
       <div class="p-6 background-color" style="text-align:center" >
        <h3 style="font-family: myFont;" >Baris Berber</h3>
        <p style="font-family: myFont; font-size: 10px;">Software Engineer</p>
         
        <img src="./profile.png" alt="" width="400" height="400" class="wdn-stretch rounded-corners" border-radius="30px" style="border: 5px solid rgb(0, 0, 0); " >
    <br>
    <br>
    <a href="http://www.facebook.com/barisberber"><i class="fab fa-facebook-square fa-3x"></i></a>
    <a href="https://www.linkedin.com/in/barisberber/"><i class="fab fa-linkedin fa-3x " ></i></a>
    <a href="http://www.twitter.com/bysnakejr"><i class="fab fa-twitter-square fa-3x"></i></a>
    
    <a href="https://github.com/bysnakejnr"><i class="fab fa-github-square fa-3x"></i></a>
    <a href="mailto:barisberber.ca@gmail.com"><i class="fas fa-envelope-square fa-3x"></i></i></i></a>
    </div>
      </div>
      <div class="col">
        <div class="p-6" style="padding-top: 100px; width: 500px;" >Hello! I'm Baris from Toronto, Canada. 
            Currently, I am studying Software Engineering at Centennial College. I am enthusiastic about technology all the time,
            learning makes me feel better and I aspire to become better all the time. Below, you can see some of my skills, my social media
            profiles, <a href="https://www.google.com">and my resume here.</a>
            </div>
            <br>
            <br>
            <b style="margin: 45%;">HTML</b>
        <div class="progress">
            
            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div><b style="margin: 45%;">SQL</b>
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div><b style="margin: 45%;">CSS</b>
      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div><b style="margin: 45%;">Java</b>
      <div class="progress">
        
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    
    
    </div>
    </div>
  </div>


</body>