<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
    </div>
<div class="row">
    <form method="POST" autocomplete="off">
        <fieldset class="form-group">
            <label for="username">Username : </label>
            <input type="text" class="form-control"
            name="username" placeholder="Enter Username"
            id="username" required autofocus>

        </fieldset>

        <fieldset class="form-group">
            <label for="password">Password : </label>
            <input type="password" class="form-control"
            name="password" placeholder="Enter Password"
            id="password" required autofocus>
        </fieldset>

<a href="/register">If you are not a member, you can register here!</a>
<br>
        <fieldset>
            <input type="submit" class="btn btn-success" value="Login">
            <a href="/" class="btn btn-outline-danger">
                Cancel
            </a>
        </fieldset>
    </form>
</div>


</main>

